<div  class="container" class="row">
<div class="column">
<h4 >NNot Following</h4>
<li *ngFor="let user of notFollowing" class="list-group-item">
  <span>{{user.firstName}} {{user.lastName}}</span>
  <a><i (click)="addPerformer(user)" class="fas fa-plus"></i></a>
</li>
</div>


<div class="column">
<h4>Following</h4>
<li *ngFor="let user of performers" class="list-group-item">
  <span>{{user.firstName}} {{user.lastName}}</span>
  <a><i (click)="removePerformer(user)" class="fas fa-minus"></i></a>
</li>
</div>

</div>
