<nav>
  <!--<a routerLink="/login">-->
    <!--Login-->
  <!--</a>-->

  <a routerLink="/">
    </a>

  <a class="btn btn-outline-warning" routerLink="/admin">
    Admin
  </a>
  <a class="btn btn-outline-warning" routerLink="/eventee">
    Eventee
  </a>
  <a class="btn btn-outline-warning" routerLink="/host">
    Host
  </a>
  <a class="btn btn-outline-warning" routerLink="/performer">
    Performer
  </a>
  <a class="btn btn-outline-warning" routerLink="/venue">
    Venue
  </a>

  <!--<a class="btn btn-outline-warning" routerLink="/event">-->
    <!--Event-->
  <!--</a>-->





  <!--<a class="btn btn-outline-warning"-->
     <!--routerLink="/event">Event</a>-->

</nav>
<router-outlet>
</router-outlet>


