<!--<div class="row">-->
  <!--<div class="col-md-2">&nbsp;</div>-->
  <!--<div class="col-md-8">-->

      <!--<div>-->
        <!--<h3>LandMarkEvents</h3>-->
      <!--</div>-->

      <!--<div>-->
        <!--<div class="row">-->
          <!--<div class="col-md-12">-->
            <!--<app-host-register></app-host-register>-->
          <!--</div>-->
          <!--<div class="col-md-12">-->
            <!--<app-performer></app-performer>-->
          <!--</div>-->
          <!--<div class="col-md-12">-->
            <!--<app-eventee></app-eventee>-->
          <!--</div>-->

          <!--&lt;!&ndash;<div class="col-md-12">&ndash;&gt;-->
            <!--&lt;!&ndash;<app-host-add-list></app-host-add-list>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->


          <!--</div>-->
      <!--</div>-->


  <!--<div class="col-md-2">&nbsp;</div>-->
<!--</div>-->
<!--</div>-->
